.Controls {
    display: flex;
}

.Controls button {
    align-self: center;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #c0c0c0;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-left: 1em;
}