.ExternalValueIO {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
}

.ExternalValueIO label {
    align-self: center;
    margin-right: 1em;
    width: 200px;
    word-wrap: anywhere;
}

.ExternalValueIO input {
    border: 1px solid lightgray;
    border-radius: 2px;
    flex-grow: 1;
    padding: 0.5em;
}

.ExternalValueIO input[type="checkbox"] {
    flex-grow: unset;
}