.Registers {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    overflow: hidden;
}

.Registers .RegisterItems {
    flex-grow: 1;
    overflow-y: auto;
}

.Registers table {
    text-align: left;
    width: 100%;
}

.Registers th, .Registers td {
    margin: 0.5em;
    padding: 0.5em;
}
