.Stack {
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    overflow: hidden;
}

.StackItems {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
}

.StackItem {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}