.App {
    display: grid;
    grid-template-areas: "Editor   Stack    Simvars"
                         "Editor   Stack    Registers"
                         "Controls Controls Controls";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 1fr 1fr 75px;
    height: 100vh;
    width: 100vw;
}

.Editor {
    border-right: 1px solid lightgray;
    grid-area: Editor;
}

.Stack {
    border-right: 1px solid lightgray;
    grid-area: Stack;
}

.SimVars {
    grid-area: Simvars;
}

.Registers {
    border-top: 1px solid lightgray;
    grid-area: Registers;
}

.Controls {
    border-top: 1px solid lightgray;
    grid-area: Controls;
}
